<h1 style="text-align: center">Review Details</h1>
<h1>Flight Details:</h1>

Airlines: {{ data?.flight.operatingAirlines }}<br />
From: {{ data?.flight.departureCity }}<br />
To: {{ data?.flight.arrivalCity }}<br />
DateOfDeparture: {{ data?.flight.dateOfDeparture }}<br />
DepartureTime: {{ data?.flight.estimatedDepartureTime }}<br />

<h1>Passenger Details:</h1>
First Name: {{ data?.passenger.firstName }} <br />
Last Name: {{ data?.passenger.lastName }} <br />
Email: {{ data?.passenger.email }} <br />
Phone: {{ data?.passenger.phone }}<br />
<br />
Enter the Number of Bags you want to check in:
<input type="number" [(ngModel)]="noOfBags" /> <br />
<br />
<button class="button" role="button" (click)="checkin(noOfBags)">
  Check In
</button>
